<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/compiler.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/line-counter.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/share.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <div class="navbar">
      <div class="content">
        <div class="icon"><label><img src="/ejs/img/CompanyLogo.png" width="100px"></label></div>
        <div class="logo"><a href="/home">CodeHub</a></div>
        <div class="list">
            <ul class="menu-list">
              <li><a href="/home">Home</a></li>
              <li><a href="/compiler">Compile</a></li>
              <li><a href="/share">Share</a></li>
              <li><a href="/practice">Practice</a></li>
            </ul>
        </div>
        <%if(isLogin!=true){%>
          <div class="signup-login login-btn">
            <a href="/login"><button>Login</button></a>
          </div>
        <%}else{%>
          <div class="signup-login logout-btn">
            <form action="/logout" method="POST"><button>Logout</button></form>
          </div>
        <%}%>
      </div>
    </div> <br /><br />
<div class="inbox-selector">
  <div class="share-div" id="share">Share</div>
  <div class="inbox-div" id="inbox">Inbox</div>
</div>
<br>
<hr>
<br>
<%if(data){%>
  <%if(data.length==0){%>
    <h2 style="text-align: center;">No Mail in Inbox</h2>
  <%}%>
  <div class="code-container">
    <div class="contents popclass">
      <div class="headerOfPop">
          <h2>Attention!</h2>
          <label for="click" class="fas fa-times"></label>
      </div>
      <label for="click" class="fas fa-check"></label>
      <p>mails fetched from database successfully</p>
      <div class="line"></div>
      <label for="click" class="close-btn">Close</label>
    </div>
    <%for(var i=data.length-1;i>=0;i--){%>
      <%if(data[i].type==='sent'){%>
        <div class="savedCode green">
      <%}else if(data[i].type==='received'){%>
        <div class="savedCode blue">
      <%}else{%>
        <div class="savedCode black">
      <%}%>
        <div class="code-header">
            <div class="code-info">
                <ul class="detail-list">
                    <li class="detail">Date : <span><%=data[i].date%></span></li>
                    <li class="detail">Time : <span><%=data[i].time%></span></li>
                    <li class="detail">Type : <span><%=data[i].type%></span></li>
                    <%if(data[i].sentBy==null){%>
                      <li class="detail">SentTo : <span><%=data[i].sentTo%></span></li>
                    <%}else{%>
                      <li class="detail">SentBy : <span><%=data[i].sentBy%></span></li>
                    <%}%>
                </ul>
            </div>
            <div class="code-icon">
                <img src="/ejs/img/coding.png" width="100px" height="100px">
            </div>
        </div>
        <div class="code-text">
            <p><%=data[i].code%></p>
        </div>
        <div class="delete-code"><button class="button-24">Delete</button></div>
    </div>
    <%}%>
</div>

<%}else{%>
  <div class="contents">
    <div class="headerOfPop">
        <h2>Attention!</h2>
        <label for="click" class="fas fa-times"></label>
    </div>
    <label for="click" class="fas fa-check"></label>
    <p>mails fetched from database successfully</p>
    <div class="line"></div>
    <label for="click" class="close-btn">Close</label>
  </div>
<div class="share-panel">
    <div class="share-code">
      <textarea placeholder="Paste your Code here" rows="20" cols="100"></textarea>
    </div>
    <div class="share-username">
        <span>Write the username of other person</span><br>
      <input type="text" placeholder="username" id="usernameField">
    </div>
    <div class="share-div-button">
        <button class="share-button button-37">Share</button>
    </div>
</div>
<%}%>
<br><br>
<hr><hr>
<footer class="footer">
  <div class="container-footer">
    <div class="upper-part">
      <div class="about-section">
        <h5 class="headin5_amrc col_white_amrc pt2">About us</h5>
        <!--headin5_amrc-->
        <p class="mb10" style="text-align: left;">
          CodeHub is a code sharing and code compiling website. It also has practice section where you can track your
          progress.
        </p>
        <p style="text-align: left;"><i class="fa fa-location-arrow"></i>Delhi, India</p>
        <p style="text-align: left;"><i class="fa fa-phone"></i> 93XXXXXXXX</p>
        <p style="text-align: left;"><i class="fa fa fa-envelope"></i> XXtuhinXX@gmail.com</p>
      </div>

      <div class="link-section">
        <h5>Quick links</h5>
        <ul class="links-list">
          <li><a href="/home">Home</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Signup</a></li>
          <li><a href="http://webenlance.com">About me</a></li>
          <li><a href="http://webenlance.com">Documentation</a></li>
          <li><a href="http://webenlance.com">Services</a></li>
          <li><a href="http://webenlance.com">Next Project Teaser</a></li>
        </ul>
      </div>

      <div class="title-section" id="title-header">
        <h2><a href="/home" class="footer-title">CodeHub</a></h2>
      </div>
    </div>

    <div class="lower-part">
    <!--foote_bottom_ul_amrc ends here-->
    <p class="text-center" style="color: white;">
      Copyright <i class="fa fa-copyright" aria-hidden="true"></i> | Made by Tuhin saha
    </p>

    <!--social_footer_ul ends here-->
    </div>
  </div>
</footer>
</body>
<script src="js/footer"></script>

  <script src="/js/share.js"></script>
</html>